
.sidebarSymbol{
    margin: 1.3em;
    width: 2.2em;
    height: 1.8em;
    opacity: 60%;
}

.sidebarSymbolHidden{
    margin: 1.3em;
    width: 2.2em;
    height: 1.8em;
    opacity: 0;
}

.sidebarSymbolOpen{
    display: flex;
    align-items: end;

    margin: 0.5em;
    width: 2.2em;
    height: 1.8em;
    opacity: 60%;
}

.openSidebar{
    z-index: 500;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.93);
    padding: 0.8em;
    box-shadow: 4px 4px rgba(40, 40, 40, 0.25);
    transition: all 300ms ease-in-out;
    left: 0;
    height: 100vh;
    width: 55vw;
}

.openSidebarContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li{
    list-style: none
}

.sidebarList{
    display: flex;

    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0.5em;

    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 27px;

    color: rgba(0, 0, 0, 0.57);
}

.sidebarListSmall{
    display: flex;

    margin-top: 4em;
    margin-left: 0.5em;

    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;

    color: rgba(0, 0, 0, 0.57);
}

.logo{
    margin: 0.9em;
    width: 5em;
    height: 1.4em;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Title-header {
    font-size: calc(17px + 2vmin);
    color: #52FFB8;
    font-family: "Proza Libre", monospace;
}