
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
}

h2 {
    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 27px;
}

h3 {
    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

h4 {
    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
}

.chooseMode{
    background-color: rgba(82, 255, 184, 0.4);
    padding: 0.3em;
    margin-top: 1.5em;
    margin-bottom: 2.2em;
    width: 100vw;
}

.pageLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}




