
h2 {
    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 27px;
}

h3 {
    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

h4 {
    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
}




