h4 {
    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
}

.QuestionBoxes {
    background: #FFFFFF;
    border: 5px solid #52FFB8;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    height: 13.5em;
    margin: 1em 1em 3em 1em;
    padding-left: 2em;
    padding-right: 2em;
}

.QuestionBoxes-Top {
    border-bottom: 5px solid #52FFB8;
    padding-bottom: 0.5em;
}

.quitGame{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    z-index: 500;
    position: absolute;
    top: 15%;
    background-color: white;
    padding: 0.8em;
    margin: 2em;
    border: 5px solid #52FFB8;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: background 1s;
}

.quitButton {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 6em;

    background: #52FFB8;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: "Proza Libre", monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: rgba(0, 0, 0, 0.57);
}

.grey{
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(121, 116, 116, 0.5);
    position: absolute;
    z-index: 100;
}

.lastRound{
    background-color: #e0e79a;
    padding-right: 1em;
    margin: 0.5em;
    text-align: end;
}

